header {
    margin-bottom: 0;
}
body{
    overflow-x: hidden;
}
 
li {
    list-style: none;
    margin: 6px;
}

ul li a {
    text-decoration: none;
    color: white;
}
h1 {
    font-size: 75px;
}

.div-row {
    background-image: url('./images/bg-shorten-desktop.svg');
    border-radius: 15px;
}

.shorten-btn {
    padding: 15px;
    border-radius: 15px;
}

.shorten {
    padding: 0;
}

.div-input {
    padding: 35px 60px;
    border-radius: 15px;
}

.input {
    border-radius: 15px;
    padding: 0.75rem;
}

.div {
    transform: translateY(0.75in);
}

.section1 {
    background-color: #d6d9e473;
    padding-top: 5rem;
}

.div-img {
    background-color: #222242;
    border-radius: 50%;
    width: 24%;
    height: 55px;
    /* float: left; */
    padding: 2%;
    text-align: center;
    transform: translateX(20%) translateY(-50%);
}

hr {
    border: 3px solid rgb(110, 220, 228);
    width: 3%;
    /* height: 152%; */
    /* height: 2px; */
    margin: 0;
}

.section2 {
    background-image: url("./images/bg-boost-desktop.svg");
}

 

.footer {
    background-color:#232127;
}

.showLinks {
    width: 75%;
    margin: 1rem auto 0px;
    background-color: #fff;
    padding: 10px  40px 10px 10px;
    border: 1px solid #ddd;
}

.btn {
    border: 1px solid #ddd;
    padding: 5px 15px;
    border-radius: 8px;
}